body{
  border-style: solid;
  border-width: 5px;
}

h2 {

  font-family:"Courier New",Courier,Monospace;
  font-size:300%;
}

b {
  font-family:"Courier New",Courier,Monospace;
  font-size:100%;
}

p {
  border-style: solid;
  border-width: 5px;
  font-family:"Courier New",Courier,Monospace;
  font-size:100%;
}

ol {
  font-family:"Courier New",Courier,Monospace;
  font-size:100%;
}

br{
 font-family:"Courier New",Courier,Monospace;
 font-size:100%;
}

form.querybox{
  margin-left: auto;
  margin-right: auto;
  font-family:"Courier New",Courier,Monospace;
  font-size:100%;
  display: table;
  text-align: center;
}

div.inputSep{
  display: table-row;
}

input{
  margin: 5px;
  display: table-cell;
}

li{
  margin: 5px;
}
