table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td, th {
  width: auto;
  font-family:"Courier New",Courier,Monospace;
  text-align: center;
}

#warningMessage{
  text-align: center;
  align-items: center;
}

form.returnButton{
  text-align: center;
  align-items: center;
  margin: 5px;
}
